<h1><%= @post.markdown_title %></h1>
<% if policy(@post).update? %>
  <%= link_to "Edit Post", edit_topic_post_path(@post.topic, @post), class: 'btn btn-success' %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <p>Summary:</p>
  </div>
  <div class="col-md-8">
    <p><%= link_to "#{@summary.body}",topic_post_summary_path(@post.topic, @post, @summary)  %></p>
  </div>
  <div class="col-md-8">
    <small>
       <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
       submitted <%= time_ago_in_words(@post.created_at) %> ago by
       <%= @post.user.name %>
     </small>
     <p><%= image_tag(@post.image.post.url) if @post.image? %></p>
    <p><%= @post.markdown_body %></p>
  </div>

  <div class="col-md-4">

  </div>
</div>
